
/*-----主页--------*/

/* 设置导航栏背景*/
.navbar-static-top {
  background-color: rgb(36, 41, 47);
  color: rgb(140, 146, 153);
  height: 60px;
  position: fixed;
  width: 100%;
}
/* 设置导航栏属性*/
#mainMenu > li > a {
  background-color: rgb(36, 41, 47);
  /*background-color: grey;*/
  color: rgb(140, 146, 153);
  height: 58px;
  padding-top: 18px;
  padding-bottom: 15px;
}
/* 设置激活的导航栏属性*/
#mainMenu > li.active > a {
  background-color: rgb(36, 41, 47);
  /*background-color: grey;*/
  color: white;
  font-weight: 900;
  height: 58px;
}
/* 设置鼠标停留时的导航栏属性*/
#mainMenu > li.dropdown > a:hover {
  background-color: rgb(36, 41, 47);
  /*background-color: orange;*/
  color: white;
  height: 58px;
}
/* 设置打开下拉菜单时子菜单属性*/
#mainMenu > li.dropdown.open > ul > li > a {
  background-color: rgb(255, 255, 255);
  /*background-color: orange;*/
  color: black;
}
#mainMenu > li.dropdown.open > ul > li > a:hover {
  background-color: rgb(36, 41, 47);
  /*background-color: orange;*/
  color: white;
}
/* 设置打开下拉菜单时母菜单属性*/
#mainMenu > li.dropdown.open > a {
  background-color: rgb(36, 41, 47);
  /*background-color: orange;*/
  color: rgb(140, 146, 153);
}

/* 设置 Carousel*/
#myCarousel {
  margin-top: -20px;
  width: 103%;
  margin-left: -20px;
}
@media (max-width: 400px) {
  #myCarousel {
    width: 110%;
  }
}
/* 设置 Carousel widht*/
.carousel-inner > .item > img {
  width: 100%;
  height: 400px;
  background-color: transparent;
}

.carousel-caption, .container > .carousel-caption, .container > .carousel-caption:hover, .carousel:hover > .carousel-inner > .item > .container > .carousel-caption, .carousel-inner > .item > .container > .carousel-caption:hover {
  background-color: transparent;
}
/* 设置 caption 字体*/
#myCarousel > div > div > div > div > h1 {
  z-index: 10;
  font-weight: normal;
  color: white;
  font-size: 30px;
  text-shadow: 0 6px 12px rgba(1,1,1,1);
  font-family:"Times New Roman", Times, serif;
}

/* 设置内容页面*/
body > div > div.container-fluid > .tab-content {
  margin-top: 65px;
}

/* 设置主页左侧导航栏格式*/
/* #home_nav {
  position: fixed;
  width: auto;
  text-align: right;
}

#home_nav > ul > li > a:hover {
  text-align: right;
  background-color: rgb(140, 146, 153);
  color: purple;
  border-radius: 5px;
}
*/
/*------------------body--------------------------*/
body {
  height: 100%;
}

/*-------------------footer-----------------------*/
.footer {
  position: relative;
  left: 0;
  bottom:0;
  width:100%;
  padding-top:13px;
  height:50px; /* Height of the footer */
  color: white;
  background-color: black;
  flex: 0 0 auto;
}
/*----------------box-------------------------*/
.box {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.box > div.box-header {
  background-color: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-left: 1px solid rgb(224,224,224);
  border-right: 1px solid rgb(224,224,224);
  border-top: 1px solid rgb(224,224,224);
  border-bottom: 1px solid rgb(224,224,224);
}

.box > div.box-header > h3 {
  color: black;
  font-size: 900;
}

/*#preview_mat_card > div > div > div.box-header > h3 {
  color: white;
}*/

.box > div.box-body {
  border-left: 1px solid rgb(224,224,224);
  border-right: 1px solid rgb(224,224,224);
  border-bottom: 1px solid rgb(224,224,224);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  /*
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5),
                0 1px 4px rgba(0, 0, 0, 0.3),
                0 0 10px rgba(0, 0, 0, 0.1) inset;
                */
}

.box-header > div > button {
  color: rgb(87, 96, 106);
  /*background-color: rgb(87, 96, 106);*/
}

/*---------------div column margin-----------------*/
.container-fluid > div.col-sm-2, .container-fluid > div.col-sm-4, .container-fluid > div.col-sm-5, .container-fluid > div.col-sm-6, .container-fluid > div.col-sm-7, .container-fluid > div.col-sm-8, .container-fluid > div.col-sm-12{
  padding-left: 3px;
  padding-right: 3px;
}
.tab-pane > .row > div.col-sm-2, .tab-pane > .row > div.col-sm-4, .tab-pane > .row > div.col-sm-5, .tab-pane > .row > div.col-sm-6, .tab-pane > .row > div.col-sm-7, .tab-pane > .row > div.col-sm-8, .tab-pane > .row > div.col-sm-12{
  padding-left: 3px;
  padding-right: 3px;
}
div.col-sm-4 > div.col-sm-12, div.col-sm-4 > div > div.col-sm-12 {
  padding-left: 3px;
  padding-right: 3px;
}
.tab-content > .tab-pane > div.col-sm-4, .tab-content > .tab-pane > div.col-sm-6, .tab-content > .tab-pane > div.col-sm-2 {
  padding-left: 3px;
  padding-right: 3px;
}

/*---------------action link-----------------*/
.tabbable > .tab-content > .tab-pane > .container-fluid {
  border: 1px solid rgb(224,224,224);
}


/*---------------action link-----------------*/
div.col-sm-3 a.action-button {
  color: black;
}

div.col-sm-3 a.action-button:hover {
  color: blue;
}

/*---------------action-button------------*/
.run-button {
  background: -webkit-linear-gradient(90deg,rgb(222,222,222) 50%,rgb(245,245,245) 100%);
  /*-webkit-gradient(linear, left top, right bottom, from(rgb(222,222,222)), to(rgb(245,245,245)));*/
  /*background-color: rgb(148, 172, 206);*/
  border-radius: 10px;
  transition-duration: 0.4s;
  height: 40px;
  color: rgb(63,138,198);
  font-size: 20px;
  font-weight: 800;
  font-family: Times New Roman;
}
.run-button:hover {
  /*background-color: rgb(130, 182, 226);*/
  color: rgb(63,138,198);
  border-radius: 5px;
  height: 40px;
}
.run-button:active:after {
  /*background-color: rgb(130, 182, 226);*/
  color: rgb(63,138,198);
  border-radius: 5px;
  height: 40px;
}

.plot-button {
  background: -webkit-linear-gradient(90deg,rgb(222,222,222) 50%,rgb(245,245,245) 100%);
  border-radius: 5px;
  transition-duration: 0.4s;
  height: 40px;
  color: rgba(234,87,79,0.8);
  font-size: 20px;
  font-weight: 800;
  font-family: Times New Roman;
}
.plot-button:hover {
  /*background-color: rgb(234, 87, 79);*/
  border-radius: 5px;
  color: rgba(234,87,79,0.8);
}
.plot-button:active:after {
  /*background-color: rgb(234, 87, 79);*/
  border-radius: 5px;
  color: rgba(234,87,79,0.8);
}

/*-------------------plotOutput well---------------------*/
div.col-sm-6 > div.well {
  background-color: white;
  border: 1px solid rgb(224,224,224);
}

/*-------------------form-group---------------------*/
.form-group {
    margin-bottom: 15px;
}

.selectize-input {
  overflow: inherit;
}

select ~ button.dropdown-toggle {
  background: white;
  background-color: white;
}

.input-group .form-control {
  position: static;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

/*-------------------tabpanel-----------------------*/
.tabbable > .nav-tabs {
  background-color: white;
  color: black;
  font-size: 400;
  padding-bottom: 1px;
}
.tabbable > .nav-tabs > li > a {
  background-color: white;
  color: black;
  font-size: 400;
}
.tabbable > .nav-tabs > li.active > a {
  /*background-color: rgb(196, 196, 196);*/
  background-color: white;
  color: black;
  font-size: 900;
  border-left: 1px solid rgb(224,224,224);
  border-right: 1px solid rgb(224,224,224);
  border-bottom: 1px solid rgb(224,224,224);
}

/*-------------------download dropdown button-----------------*/
button ~ ul.dropdown-menu {
  text-align: right;
  align-content: right;
  align-items: right;
}

.angle_dd {
  font-size: 20px;
}